{% extends 'header.html'%}
{% block content %}
<div class="banner_inner_content_agile_w3l">
</div>

<div class="team">
	<div class="container">
		<h3 class="heading-agileinfo">Medical Specialists<span></span></h3>
		<div class="teamgrids">
			<div class="col-md-3 teamgrid1">
				<img src="{{url_for('static',filename='images/t1.jpg')}}" class="img-responsive" alt=""/>
				<div class="teaminfo">
					<h3>Frankline</h3>
					<p><i class="fa fa-dot-circle-o" aria-hidden="true"></i>CONSULTING DOCTOR</p>
					<p><i class="fa fa-phone" aria-hidden="true"></i> 888 888 1234</p>
					<p><i class="fa fa-envelope" aria-hidden="true"></i><a href=""> Frankline@example.com</a></p>
				</div>
			</div>
			<div class="col-md-3 teamgrid1">
				<img src="{{url_for('static',filename='images/t2.jpg')}}" class="img-responsive" alt=""/>
				<div class="teaminfo">
					<h3>Guptill</h3>
					<p><i class="fa fa-dot-circle-o" aria-hidden="true"></i>Heart specilist</p>
					<p><i class="fa fa-phone" aria-hidden="true"></i> 789 456 4561</p>
					<p><i class="fa fa-envelope" aria-hidden="true"></i><a href=""> Guptill@example1.com</a></p>
				</div>
			</div>
			<div class="col-md-3 teamgrid1">
				<img src="{{url_for('static',filename='images/t3.jpg')}}" class="img-responsive" alt=""/>
				<div class="teaminfo">
					<h3>Mitchel</h3>
					<p><i class="fa fa-dot-circle-o" aria-hidden="true"></i>cardiologist</p>
					<p><i class="fa fa-phone" aria-hidden="true"></i> 998 221 7898 </p>
					<p><i class="fa fa-envelope" aria-hidden="true"></i><a href=""> Mitchel@example2.com</a></p>
				</div>
			</div>
			<div class="col-md-3 teamgrid1">
				<img src="{{url_for('static',filename='images/t4.jpg')}}" class="img-responsive" alt=""/>
				<div class="teaminfo">
					<h3>John Paul</h3>
					<p><i class="fa fa-dot-circle-o" aria-hidden="true"></i>cardiologist</p>
					<p><i class="fa fa-phone" aria-hidden="true"></i> 944 567 1234</p>
					<p><i class="fa fa-envelope" aria-hidden="true"></i><a href=""> John@example3.com</a></p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

{% endblock %}