{% extends 'header.html'%}
{% block content %}
<!--<div class="banner_inner_content_agile_w3l">

</div>
<div class="w3ls-banner">
	<div class="heading">
		<h1>Prediction</h1>
	</div>
		<div class="container_1">
			<div class="heading">
				<h2>Please Enter Details for Prediction</h2>

			</div>
			<div class="agile-form">
				<form action="/prediction" method="POST">
					<ul class="field-list">
						<li>
							<label class="form-label">
								Age
								<span class="form-required"> * </span>
							</label>
							<div class="form-input">
								<input type="text" name="age" placeholder="Enter age" required >
							</div>
						</li>
                        <li>
							<label class="form-label">
							   Gender
							   <span class="form-required"> * </span>
							</label>
							<div class="form-input">
								<select class="form-dropdown" name="gender" required>
									<option value="">Select gender&nbsp;</option>
									<option value="0"> Male </option>
									<option value="1"> Female </option>
								</select>
							</div>
						<li>
                        <li>
							<label class="form-label">
							   CP
							   <span class="form-required"> * </span>
							</label>
							<div class="form-input">
								<select class="form-dropdown" name="cp" required>
									<option value=""> Select CP&nbsp;</option>
									<option value="0"> 0 </option>
									<option value="1"> 1 </option>
                                    <option value="2"> 2 </option>
									<option value="3"> 3 </option>
								</select>
							</div>
						<li>
                        <li>
							<label class="form-label">
								trestbps
								<span class="form-required"> * </span>
							</label>
							<div class="form-input">
								<input type="number" name="trestbps" placeholder="Enter trestbps" min="94" max="200" required >
							</div>
						</li>
                        <li>
							<label class="form-label">
								chol
								<span class="form-required"> * </span>
							</label>
							<div class="form-input">
								<input type="number" name="chol" placeholder="Enter chol" min="126" max="564" required >
							</div>
						</li>
                        <li>
							<label class="form-label">
							   fbs
							   <span class="form-required"> * </span>
							</label>
							<div class="form-input">
								<select class="form-dropdown" name="fbs" required>
									<option value="">Select FBS&nbsp;</option>
									<option value="0"> 0 </option>
									<option value="1"> 1 </option>
								</select>
							</div>
						</li>
                        <li>
							<label class="form-label">
							   restecg
							   <span class="form-required"> * </span>
							</label>
							<div class="form-input">
								<select class="form-dropdown" name="restecg" required>
									<option value="">Select Rest ECG&nbsp;</option>
									<option value="0"> 0 </option>
									<option value="1"> 1 </option>
                                    <option value="2"> 2 </option>

								</select>
							</div>
						</li>
                        <li>
							<label class="form-label">
								thalach
								<span class="form-required"> * </span>
							</label>
							<div class="form-input">
								<input type="number" name="thalach" placeholder="Enter thalach" min="71" max="202" required>
							</div>
						</li>
                        <li>
							<label class="form-label">
							   exang
							   <span class="form-required"> * </span>
							</label>
							<div class="form-input">
								<select class="form-dropdown" name="exang" required>
									<option value="">Select exang&nbsp;</option>
									<option value="0"> 0 </option>
									<option value="1"> 1 </option>
								</select>
							</div>
						</li>

                        <li>
							<label class="form-label">
							   slope
							   <span class="form-required"> * </span>
							</label>
							<div class="form-input">
								<select class="form-dropdown" name="slope" required>
									<option value="">Select slope&nbsp;</option>
									<option value="0"> 0 </option>
									<option value="1"> 1 </option>
                                    <option value="2"> 2 </option>
								</select>
							</div>
						</li>
                        <li>
							<label class="form-label">
								oldpik
								<span class="form-required"> * </span>
							</label>
							<div class="form-input">
								<input type="text" name="oldpik" placeholder="Enter oldpik" required >
							</div>
						</li>

                         <li>
							<label class="form-label">
							   ca
							   <span class="form-required"> * </span>
							</label>
							<div class="form-input">
								<select class="form-dropdown" name="ca" required>
									<option value="">Select CA&nbsp;</option>
									<option value="0"> 0 </option>
									<option value="1"> 1 </option>
                                    <option value="2"> 2 </option>
                                    <option value="3"> 3 </option>
                                    <option value="4"> 4 </option>
								</select>
							</div>
						</li>
                        <li>
							<label class="form-label">
							   thal
							   <span class="form-required"> * </span>
							</label>
							<div class="form-input">
								<select class="form-dropdown" name="thal" required>
									<option value="">Select thal&nbsp;</option>
									<option value="0"> 0 </option>
									<option value="1"> 1 </option>
                                    <option value="2"> 2 </option>
                                    <option value="3"> 3 </option>
								</select>
							</div>
						</li>
                        <li>
							<label class="form-label">
							   target
							   <span class="form-required"> * </span>
							</label>
							<div class="form-input">
								<select class="form-dropdown" name="target" required>
									<option value="">&nbsp;Select target</option>
									<option value="0"> 0 </option>
									<option value="1"> 1 </option>
								</select>
							</div>
						</li>
					</ul>
					<input type="submit" value="Register">
				</form>
			</div>
		</div>
</div>-->
<!-- banner -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1" class=""></li>
			<li data-target="#myCarousel" data-slide-to="2" class=""></li>
			<li data-target="#myCarousel" data-slide-to="3" class=""></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="container">
					<div class="carousel-caption">
						<h3> <span></span></h3>
						<p></p>
						<h6></h6>
					</div>
				</div>
			</div>
			<div class="item item2">
				<div class="container">
					<div class="carousel-caption">
						<h3> <span></span></h3>
						<p></p>
						<h6></h6>
					</div>
				</div>
			</div>
			<div class="item item3">
				<div class="container">
					<div class="carousel-caption">
						<h3> <span></span></h3>
						<p></p>
						<h6></h6>
					</div>
				</div>
			</div>
			<div class="item item4">
				<div class="container">
					<div class="carousel-caption">
						<h3> <span></span></h3>
						<p></p>
						<h6></h6>
					</div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="fa fa-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="fa fa-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
		<!-- The Modal -->
	</div>
	<!--//banner -->

{% endblock %}