{% extends 'header.html'%}
{% block content %}
<div class="banner_inner_content_agile_w3l">
</div>
<div class="banner-bottom">
    <div class="container">
        <div class="inner_sec_info_agileits_w3">
            <h2 class="heading-agileinfo">Predicted Result<span></span></h2>
                <div class="contact-form">
                    <div class="right_form">
                        <br><br>
                        <div style="align='center';">
                            <h2>As per  Algorithm Attack name is {{data}} </h2><br><br>
                            <h3 class="page-header page-header icon-subheading">Attack prevention techniques </h3>
                            <br><br>
                            <div style="align='center';">
                                <p>1.Enable Firewall</p>
                            </div>
                        </div><br><br><br>
                       
                    </div>
                    <div class="clearfix"></div>
				  </div>
			</div>
		</div>
	</div>
	<!-- //icons -->

{% endblock %}
