{% extends 'header.html'%}
{% block content %}
<div class="banner_inner_content_agile_w3l">
</div>
<!-- departments -->
<div class="services">
	<div class="container">
		<h3 class="heading-agileinfo">Review</h3>
		<table class="table">
						<tbody>
							<tr>
								<td><h4>This app is best app for heart disease prediciton<a class="anchorjs-link" href="#h4.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h4></td>
								<td class="type-info"><span class="badge badge-warning">4.2</span></td>
							</tr>
                            <tr>
								<td><h4>App accuracy is very good<a class="anchorjs-link" href="#h4.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h4></td>
								<td class="type-info"><span class="badge badge-success">5.0</span></td>
							</tr>
                        <tr>
								<td><h4 >I like this app<a class="anchorjs-link" href="#h4.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h4></td>
								<td class="type-info"><span class="badge badge-success">4.9</span></td>
							</tr>
                        <tr>
								<td><h4>It is best app<a class="anchorjs-link" href="#h4.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h4></td>
								<td class="type-info"><span class="badge badge-warning">3.2</span></td>
							</tr>
						</tbody>
					</table>
	</div>
</div>
<!-- //departments -->

{% endblock %}