{% extends 'header.html'%}
{% block content %}
<div class="banner_inner_content_agile_w3l">

</div>

<!-- departments -->
<div class="services">
	<div class="container">
		<h3 class="heading-agileinfo">Videos</h3>
		<div class="services-top-grids">
			<div class="col-md-4">

			</div>
			<div class="col-md-4">

					<video controls>
					  	<source src="{{url_for('static',filename='video/vid.mp4')}}" type="video/mp4">
					</video>

			</div>
			<div class="col-md-4">

			</div>
			<div class="clearfix"></div>
		</div>

	</div>
</div>
<!-- //departments -->

{% endblock %}